/**
 * Basecamp stylesheet, based on "alternate"
 *
 * author: Peter Theill, Commanigy - http://commanigy.com
 *
 * @2009-11-16 - fix #3069
 * @2009-11-12 - styling "password" fields as well with a simple border (similar to other fields)
 * @2020-12-22 - fix for redmine 4.x, Sunding Wei
 */

@import url(../../../stylesheets/application.css);

/* WIDE SCREEN BEGIN */
@media screen and (min-width: 900px) {

  body,
  #wrapper {
    background-color: #eee;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  }

  a:hover {
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: #2A5685;
  }

  #header,
  #top-menu {
    margin: 0;
  }

  #header {
    background-color: #333;
    padding: 8px 8px 0 8px;
    height: 5.5em;
  }

  #header h1 {
    margin: 0 24px;
    font-size: 24px;
    font-weight: normal;
  }

  #header #quick-search {
    margin: 0 24px;
  }

  #top-menu {
    background-color: #000;
    font-size: 10px;
    position: relative;
    padding: 0;
    height: 21px
  }

  #top-menu ul {
    padding: 0 21px;
  }

  #top-menu li,
  #top-menu #loggedas {
    color: #ddd;
    line-height: 21px;
    margin-right: 4px;
  }

  #top-menu li a {
    color: #999;
    font-weight: normal;
    padding: 4px 5px;
  }

  #top-menu li a:hover {
    color: #fff;
    text-decoration: none;
  }

  #main {
    background: #EEEEEE;
    margin: 8px 24px 0px 24px;
  }

  #content,
  #main.nosidebar #content {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    overflow: auto;
    -moz-box-shadow: #bbb 1px 1px 2px;
    -webkit-box-shadow: 1px 1px 2px #bbb;
  }

  #content {
    width: 70%;
  }

  #content .wiki img {
    max-width: 98%;
  }

  #main.nosidebar #content {
    width: auto;
  }

  #footer {
    background-color: #EEEEEE;
    border: 0px;
    clear: left;
    color: #666666;
    font-size: 9px;
    margin: 4px 0 20px 20px;
    padding-bottom: 15px;
    text-align: left;
  }

  #footer a:hover {
    background: #666666 none repeat scroll 0 0;
    color: #FFFFFF !important;
  }

  #footer a:link,
  #footer a:visited {
    color: #666666;
  }

  /* banner */
  #content>h2:nth-child(1),
  #content>h2:nth-child(2),
  #content>h2:nth-child(3),
  .controller-agile_boards #content>form>h2,
  #content>div.wiki.wiki-page>h1:nth-child(2) {
    height: 36px;
    line-height: 36px;
    margin-top: -10px;
    margin-bottom: 14px;
    padding: unset;
  }

  #content p.subtitle {
    margin: 0px 0 14px 0;
  }

  /* agile */
  #agile_live_search {
    margin-top: -1px;
  }

  div.issue div.wiki h3 {
    text-decoration: underline;
  }

  h3,
  h4 {
    font-weight: normal;
  }

  .wiki h3,
  .wiki h4 {
    font-weight: bold;
  }

  /* sidebar */
  #sidebar {
    width: 21%;
  }

  #sidebar h3 {
    border-bottom: 1px solid #DCDCDC;
    padding: 6px 8px;
  }

  div.journal h4 {
    background-color: #EDF3FE;
    border-left: 3px solid #9FBFFA;
    padding: 10px;
    border-bottom: 0px;
  }

  /*
  div.splitcontentleft h2 {
    background-color: transparent;
    padding: 0;
    margin: 20px 0 5px 0;
  }
  */

  /* Links */
  #sidebar a:hover {
    background-color: #003399;
    color: #FFFFFF;
    text-decoration: none;
  }

  /* Menu */
  #main-menu {
    margin: 0 24px;
  }

  #main-menu li a {
    background-color: #666;
    font-weight: normal;
    padding: 4px 8px 6px;
  }

  #main-menu li a:hover {
    background: #999;
    text-decoration: none;
  }

  #main-menu li a.selected,
  #main-menu li a.selected:hover {
    background-color: #EEEEEE;
    color: #111;
    font-weight: bold;
  }

  /* Tables */
  table.list {
    border: none;
  }

  table.list th {
    background-color: #fff;
  }

  table.list tbody td,
  table.list tbody tr td,
  table.list tbody tr td.checkbox {
    border-bottom: solid 1px #ddd;
    font-size: 11px;
    text-align: center;
    padding: 4px 3px 4px 3px;
  }

  table.list thead th {
    border: none;
    border-bottom: 1px solid #999999;
    font-size: 9px;
    font-weight: normal;
    padding: 0pt 3px 3px;
    text-transform: uppercase;
  }

  table.list thead th a {
    color: #000;
  }

  table.list thead th a:hover {
    color: #000;
  }

  /* issues grid styles by priorities (provided by Wynn Netherland) */
  table.list tr.issue a {
    color: #333;
  }

  /* adjust the css according to your priority ids, for Redmine 2.1 */
  tr.odd.priority-8,
  table.list tbody tr.odd.priority-8:hover {
    color: #559;
  }

  tr.odd.priority-8 {
    background: #eaf7ff;
  }

  tr.even.priority-8,
  table.list tbody tr.even.priority-8:hover {
    color: #559;
  }

  tr.even.priority-8 {
    background: #f2faff;
  }

  tr.priority-8 a {
    color: #559;
  }

  tr.odd.priority-8 td,
  tr.even.priority-8 td {
    border-color: #add7f3;
  }

  tr.odd.priority-7,
  table.list tbody tr.odd.priority-7:hover {
    color: #900;
    font-weight: bold;
  }

  tr.odd.priority-7 {
    background: #ffc4c4;
  }

  tr.even.priority-7,
  table.list tbody tr.even.priority-7:hover {
    color: #900;
    font-weight: bold;
  }

  tr.even.priority-7 {
    background: #ffd4d4;
  }

  tr.priority-7 a,
  tr.priority-7:hover a {
    color: #900;
  }

  tr.odd.priority-7 td,
  tr.even.priority-7 td {
    border-color: #ffb4b4;
  }

  tr.odd.priority-6,
  table.list tbody tr.odd.priority-6:hover {
    color: #900;
  }

  tr.odd.priority-6 {
    background: #ffc4c4;
  }

  tr.even.priority-6,
  table.list tbody tr.even.priority-6:hover {
    color: #900;
  }

  tr.even.priority-6 {
    background: #ffd4d4;
  }

  tr.priority-6 a {
    color: #900;
  }

  tr.odd.priority-6 td,
  tr.even.priority-6 td {
    border-color: #ffb4b4;
  }

  tr.odd.priority-5,
  table.list tbody tr.odd.priority-5:hover {
    color: #900;
  }

  tr.odd.priority-5 {
    background: #fee;
  }

  tr.even.priority-5,
  table.list tbody tr.even.priority-5:hover {
    color: #900;
  }

  tr.even.priority-5 {
    background: #fff2f2;
  }

  tr.priority-5 a {
    color: #900;
  }

  tr.odd.priority-5 td,
  tr.even.priority-5 td {
    border-color: #fcc;
  }

  tr.odd.priority-3,
  table.list tbody tr.odd.priority-3:hover {
    color: #559;
  }

  tr.odd.priority-3 {
    background: #eaf7ff;
  }

  tr.even.priority-3,
  table.list tbody tr.even.priority-3:hover {
    color: #559;
  }

  tr.even.priority-3 {
    background: #f2faff;
  }

  tr.priority-3 a {
    color: #559;
  }

  tr.odd.priority-3 td,
  tr.even.priority-3 td {
    border-color: #add7f3;
  }

  tr.odd.priority-1,
  table.list tbody tr.odd.priority-1:hover {
    color: #559;
  }

  tr.odd.priority-1 {
    background: #eaf7ff;
  }

  tr.even.priority-1,
  table.list tbody tr.even.priority-1:hover {
    color: #559;
  }

  tr.even.priority-1 {
    background: #f2faff;
  }

  tr.priority-1 a {
    color: #559;
  }

  tr.odd.priority-1 td,
  tr.even.priority-1 td {
    border-color: #add7f3;
  }

  p.breadcrumb {
    font-size: 0.9em;
    height: 36px;
    line-height: 36px;
    margin: -10px 0 10px -14px;
    text-indent: 15px;
  }

  /* Fields */
  input[type="text"],
  input[type="password"],
  textarea,
  select {
    border: 1px solid #d7d7d7;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #888866;
  }

  input#issue_subject {
    font-size: 125%;
  }

  option {
    border-bottom: 1px dotted #d7d7d7;
  }

  textarea.wiki-edit {
    font-family: Cambria, Verdana, Serif;
    font-size: larger;
  }

  /* misc */
  .box {
    background-color: #fcfcfc;
  }

  .contextual {
    font-size: 0.9em;
    font-family: verdana;
  }

  hr {
    background: #eee none repeat scroll 0% 0%;
  }

  div.issue {
    background: #FFFFEC;
  }

  div.splitcontentleft ol li,
  div.splitcontentleft ul li {
    padding: 4px 0;
  }

  div.wiki ul.toc li {
    padding: 0;
  }

  ol li ol li {
    list-style-type: lower-alpha;
  }

  ol li ol li ol li {
    list-style-type: lower-roman;
  }

  /* color: #edf3fe, RGB(237, 243, 254) */
  #content {
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
  }

  .contextual {
    margin: unset;
  }

  /* my page */
  .controller-my #content .contextual {
    margin-top: -5px;
  }

  /* overview */
  .controller-projects #content .splitcontent {
    margin-top: -16px;
  }

  /* gantt */
  .controller-gantts #sidebar {
    max-width: 150px;
  }

  /* repository */
  .controller-repositories #content .contextual {
    margin-top: -5px;
  }

  /* issue */
  .issue .subject h3 {
    font-weight: bold;
    font-size: larger;
    color: #000;
  }

  div.journal .contextual {
    padding-top: 8px;
    padding-right: 5px;
  }

  /* headers */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lucida Grande", arial, sans-serif;
  }

  h2,
  .wiki h1 {
    font-size: 18px;
  }

  h3,
  .wiki h2 {
    font-size: 16px;
  }

  h4,
  .wiki h3 {
    font-size: 14px;
  }

  .wiki h4 {
    font-size: 13px;
  }

  .wiki h1,
  .wiki h2,
  .wiki h3,
  .wiki h4,
  .wiki h5,
  .wiki h6 {
    margin: 18px 0 12px 0;
    padding: 0px;
    font-weight: 600;
    line-height: 1.25;
    border-bottom: unset;
  }

  .wiki h1,
  .wiki h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #eaecef;
  }

  /* smaller badge */
  .badge {
    text-transform: unset;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
  }

  .tabular .wiki-preview p {
    padding-top: unset !important;
    padding-bottom: unset !important;
  }

  .tabular p {
    margin: 12px 0;
  }

  /* table */
  .wiki tr th {
    border-bottom: solid 2px #bfbfbf;
    background-color: #f0f0f0;
  }

  div.wiki table,
  div.wiki td,
  div.wiki th {
    padding: 5px;
  }
}

/* WIDE SCREEN END */

/* MOBILE BEGIN */
@media screen and (max-width: 899px) {
  #header {
    height: 48px !important;
  }

  .mobile-toggle-button {
    font-size: 32px !important;
    line-height: 48px !important;
    height: 48px !important;
  }

  #project-jump .drdn-trigger {
    font-size: 16px !important;
    line-height: 48px !important;
    height: 48px !important;
    padding: unset;
  }

  #project-jump.drdn {
    padding: 0 0 0 20px !important;
    height: unset !important;
  }

  body,
  input,
  select,
  textarea,
  button {
    font-size: 12px !important;
  }

  .flyout-menu ul li a {
    line-height: 30px !important;
    height: 30px !important;
  }
}

/* MOBILE END */